{% extends 'website/base.html' %}
{% load markdown_deux_tags %}

{% block title %} wtchcrft {% endblock %}

{% block content %}

    {% for post in posts %}
        <div class="post">
            {% if post.image %}
            <div class="image" style="background-image:url({{ MEDIA_URL }}{{ post.image }})"></div>
            {% endif %}
            <div class="content">
                <a href="{% url 'post' post.id %}">
                    <h1>{{ post.title }}</h1>
                </a>
                {{ post.post | markdown }}
            </div>
        </div>
    {% endfor %}

{% endblock %}
