@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i|Raleway:700');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body.wtchcrft {
    color: #9f9f99;
    background: black;
    background-image: url("/static/images/zwartevilt.png");
    background-attachment: fixed;
    font-family: 'Alegreya', serif;
}

body.wtchcrft .post p {
    position: relative;
    font-size: 1.5em;
    padding-left: 20px;
}

body.wtchcrft .pagination {
    display: block;
    clear: both;
    max-width: 700px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    text-transform: lowercase;
    border-top: 1px dotted #333;
    padding-top: 10px;
    margin-top: 15px;
}

body.wtchcrft div.content.container {
    margin-right: 5%;
    margin-bottom: 80vh;
    margin-left: 20%;
}

body.wtchcrft .logo {
    margin-bottom: 30vh;
    height: 100vh;
    width: 100vw;
    margin-left: -2.5vw;
    opacity: 0.08;
    filter: blur(2px);
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

body.wtchcrft img.forest {
    position: fixed;
    bottom: 0;
    height: 50vh;
    opacity: 0.08;
    filter: blur(2px);
    z-index: -1;
    min-width: 100vw;
}

body.wtchcrft h1,
body.wtchcrft h2,
body.wtchcrft h3,
body.wtchcrft h4 {
    font-family: 'Alegraya', sans-serif;
}

body.wtchcrft h1 {
    margin-bottom: 15px;
    display: inline-block;
    padding-bottom: 5px;
    font-weight: 100;
    font-size: 3em;
    filter: blur(1px);
}

body.wtchcrft a {
    text-decoration: none;
    color: #9f9f99;
}

body.wtchcrft .post {
    margin-bottom: 30vh;
}


body.wtchcrft .post div.image {
    position: absolute;
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    opacity: 0.3;
    border-radius: 2px;
    background-size: contain;
    left: 5%;
    transition: 1000ms all;
    z-index: -1;
    filter: blur(5px);
}

body.wtchcrft .post div.image:hover {
    opacity: 0.5;
}

body.wtchcrft .post .content {
    padding-top: 32px;
}
